<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="shop">
    <header>
        <div class="logo">E-shop</div>
        <div class="cart">
            <form action="#" class="search-form">
                <input type="text" class="search-field" v-model="filter">
                <button class="btn-search" type="submit" @click="filterEl(filter)">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button class="btn-cart" type="button"  @click="visible=!visible">Корзина</button>
            <div class="cart-block" v-if="visible"></div>
        </div>
    </header>
    <main>
        <div class="products" v-for="product of goods" v-html="makeRender(product)"></div>
    </main>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>-->
<script src="https://unpkg.com/vue"></script>
<script src="mainVue.js"></script>

</body>
</html>